/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: darkblue;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 17px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover {
    background-color: #00AAFF;
    color: darkblue;
}

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 18px;
    background-color: whitesmoke;
    display: none;
    overflow: hidden;
}

.middleColumn {
    align-self: center;
    width: 820px;
    height: 100%;
}